.About {
  margin: 4rem 1rem;
  .abt-img {
  }
  h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
  }
  p {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2rem;
    font-weight: 600;
    line-height: 120%;
  }
}
